[package]
name = "jammdb"
description = "An embedded single-file database for Rust"
version = "0.3.0"
authors = ["PJ Tatlow <pjtatlow@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/pjtatlow/jammdb"
readme = "README.md"
keywords = ["db", "database", "embedded-database", "memory-map"]
categories = ["database", "database-implementations"]

exclude = [
    ".*.yml",
    ".github/*",
    "ci/*",
    "tests/*",
    "makefile",
]

[dependencies]
memmap = "0.7.0"
page_size = "0.4.2"
fs2 = "0.4.3"
sha3 = "0.8"

[dev-dependencies]
rand = "0.7"
rmp-serde = "0.14"
serde = { version = "1.0", features = ["derive"] }

[badges]
codecov = { repository = "pjtatlow/jammdb" }
appveyor = { repository = "pjtatlow/jammdb" }
maintenance = { status = "actively-developed" }
